@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.centera {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    text-align: center;
  }

body {
    background-image: url("img/background.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

input[type=text] {
  width: 65%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  color: black;
}
