body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 100px solid transparent;
}

body {
  font-family: "Audiowide", sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center {
	text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}